/* custom-selection.css */
::selection {
    background-color: #007681; /* Replace with your desired highlight color */
    color: #000; /* Replace with your desired text color */
  }
  
  ::-moz-selection {
    background-color: #007681; /* For Firefox */
    color: #000; /* For Firefox */
  }